
@media screen and (max-width: 768px) {
    .subscribe>input{
        width: 100%;
    }
	.subscribe1{
		width: 100%;
        padding: 2px 2px 0px 2px;
	}
    .subscribe1>a{
        display: block;
        position: relative;
    }
    .but_arrow{
        display:inline-block;
        position:absolute;
        right: 2px;
    }
}