<div class="main">
    <div class="about_banner_img"><img src="images/price.jpg" class="img-responsive" alt="" /></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">Pricing</h1>
    </div>
    <div class="border"> </div>
    <div class="container">
        <div class="row price_plans">
            <h3 class="m_2">Pricing and plans</h3>
            <div class="price_plans_box">
                <div class="col-md-3">
                    <ul class="price1">
                        <h4>One day training</h4>
                        <h3>Free</h3>
                        <ul class="price_list">
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">All facilities available</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Personal Trainer</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Free Diet Plan</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Flexible Timing</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Any facility</a></p>

                            <a class="popup-with-zoom-anim" routerLink="../payment/1">
                                <li class="price_but">Buy Now</li>
                            </a>
                            <div class="clear"></div>
                        </ul>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="price1">
                        <h4>3 months membership</h4>
                        <h2 class="m_25">₹2475<small>.33</small></h2>
                        <ul class="price_list">
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">All facilities available</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Personal Trainer</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Free Diet Plan</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Flexible Timing</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Any facility</a></p>
                            <a class="popup-with-zoom-anim" routerLink="../payment/2">
                                <li class="price_but"> Buy Now </li>
                            </a>
                            <div class="clear"></div>
                        </ul>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="price2">
                        <h4>6 months membership</h4>
                        <h2 class="m_26">₹4381<small>.98</small></h2>
                        <ul class="price_list1">
                            <p><img src="images/tick1.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">All facilities available</a></p>
                            <p><img src="images/tick1.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Personal Trainer</a></p>
                            <p><img src="images/tick1.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Free Diet Plan</a></p>
                            <p><img src="images/tick1.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Flexible Timing</a></p>
                            <p><img src="images/tick1.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Any facility</a></p>
                            <a class="popup-with-zoom-anim" routerLink="../payment/3">
                                <li class="price_but1">Buy Now</li>
                            </a>
                            <div class="clear"></div>
                        </ul>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="price1">
                        <h4>12 months membership</h4>
                        <h2 class="m_25">₹8913<small>.41</small></h2>
                        <ul class="price_list">
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">All facilities available</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Personal Trainer</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Free Diet Plan</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Flexible Timing</a></p>
                            <p><img src="images/tick.png" alt="" align="middle" width="16" height="14" /><a
                                    href="#">Any facility</a></p>
                            <a class="popup-with-zoom-anim" routerLink="../payment/4">
                                <li class="price_but">Buy Now</li>
                            </a>
                            <div class="clear"></div>
                        </ul>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <ul class="price_question">
        <div class="container">
            <li class="question_left">
                <h4>Have a question</h4>
                <p>Write to us on the email: info@gym.com or call us at the number given below.
                </p>
            </li>
            <li class="question_right">080- 22 666 444</li>
            <div class="clear"></div>
        </div>
    </ul>
</div>
<app-footer></app-footer>
