.table-container-big{
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: aliceblue;
  
}
.table-container-small{
  padding: 10px;
  margin-top: 10px;
  display: none;
}

table{
  margin: 0px;
}
.table-container-big>table>thead>tr>th,.table-container-big>table>tbody>tr>td{
  padding: 30px;
  text-align: center;
}

.table-container-big>table>tbody>tr>td:hover:not(:first-child){
  background-color: #02b6fc;
  color: white;
  font-weight: bold;
}

.table-small>thead>tr>th:last-child,.table-small>tbody>tr>td:last-child{
  text-align: right;
}

.table-small>tbody>tr:hover{
  background-color: #02b6fc;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
.table-container-small{
  display: block;
}
  .table-container-big{
      display: none;
  }
}