<div class="main">
    <div class="about_banner_img"><img src="images/trine_img.jpg" class="img-responsive" alt=""></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">Dashboard</h1>
    </div>
    <div class="border"> </div>
    <div class="container">
        <div class="about_trainer">
            <h3 class="m_2">Dashboard</h3>
            <div class="row about_box">
                <div class="col-md-4" style="padding: 50px;">
                    <div class="box1" style="background-color: white;">
                        <div class="row">
                            <div class="col-sm-12" style="height: 150px;margin-bottom: 10px;">
                                <img src="images/footsteps.png" class="img-responsive"
                                    style="height: 150px; width: 150px;margin: auto;" alt="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="height: 50px;text-align: center;font-size: xx-large;font-family: sans-serif;color: #00BFF0;">
                                STEP COUNT
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="height: 50px;text-align: center;font-size: x-large;color: tomato;">
                                <b>2456</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding: 50px;">
                    <div class="box2" style="background-color: white;">
                        <div class="row">
                            <div class="col-sm-12" style="height: 150px;margin-bottom: 10px;">
                                <img src="images/calories_burnt.png" class="img-responsive"
                                    style="height: 150px; width: 150px;margin: auto;" alt="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="height: 50px;text-align: center;font-size: xx-large;font-family: sans-serif;color: #00BFF0;">
                                Calories Burnt
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="height: 50px;text-align: center;font-size: x-large;color: tomato;">
                                <b>203kJ</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding: 50px;">
                    <div class="box2" style="background-color: white;">
                        <div class="row">
                            <div class="col-sm-12" style="height: 150px;margin-bottom: 10px;">
                                <img src="images/sleep.png" class="img-responsive"
                                    style="height: 150px; width: 150px;margin: auto;" alt="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="height: 50px;text-align: center;font-size: xx-large;font-family: sans-serif;color: #00BFF0;">
                                Sleep Time
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="height: 50px;text-align: center;font-size: x-large;color: tomato;">
                                <b>7.3 Hours</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="m_2">Diet Plan</h3>
        <div class="table-container-big table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Meal</th>
                        <th>Menu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Breakfast</td>
                        <td>Oats/Corn Flakes/Muesli:50g, Orange/Apple/Mixed Fruit Juice:1 glass, 1 boiled egg</td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables</td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables</td>
                    </tr>
                    <tr>
                        <td>Others</td>
                        <td>100g Roasted Almonds/Dry Fruits, Digestive Biscuit, Fruit Salad, Fruit Juice</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="table-container-small">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                            style="display: block;color: white;">Breakfast</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-small">
                            <tbody>
                                <tr>
                                    <td>Oats/Corn Flakes/Muesli:50g, Orange/Apple/Mixed Fruit Juice:1 glass, 1 boiled
                                        egg</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                            style="display: block;color: white;">Lunch</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-small">
                            <tbody>
                                <tr>
                                    <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                            style="display: block;color: white;">Dinner</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-small">
                            <tbody>
                                <tr>
                                    <td>150g Brown Rice/3 Chapati, 100g Grilled Fish/Chicken, 100g boiled vegetables
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                            style="display: block;color: white;">Others</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-small">
                            <tbody>
                                <tr>
                                    <td>100g Roasted Almonds/Dry Fruits, Digestive Biscuit, Fruit Salad, Fruit Juice
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>