.register-top-grid input[type="password"], .register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.register-top-grid input[type="date"],.register-top-grid input[type="email"]{
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.register-grids input[type="submit"]:disabled{
	background-color: gray;
	opacity: 0.3;
}