<div class="main">
    <div class="about_banner_img"><img src="images/trine_img.jpg" class="img-responsive" alt=""></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">Trainers</h1>
    </div>
    <div class="border"> </div>
    <div class="container">
        <div class="about_trainer">
            <h3 class="m_2">Our Trainers</h3>
            <div class="row about_box">
                <div class="col-md-4">
                    <div class="box1">
                        <div class="box1_left">
                            <img src="images/about_img3.jpg" class="img-responsive" alt="" />
                            <div class="desc1">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="a_heart"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="a_twt"> </i>
                                    <i class="a_fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4>Qualifications</h4>
                            <p>Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat
                                nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
                            <h4>Speciality</h4>
                            <p class="para1">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam
                                volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box2">
                        <div class="box1_left">
                            <img src="images/about_img2.jpg" class="img-responsive" alt="" />
                            <div class="desc2">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart1"> </i>
                                    <i class="like"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4 class="right_text">Qualifications</h4>
                            <p class="right_text1">Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod
                                dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                            </p>
                            <h4 class="right_text">Speciality</h4>
                            <p class="right_text2">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam
                                volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box1">
                        <div class="box1_left">
                            <img src="images/about_img4.jpg" class="img-responsive" alt="" />
                            <div class="desc1">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="a_heart"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="a_twt"> </i>
                                    <i class="a_fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4>Qualifications</h4>
                            <p>Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat
                                nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
                            <h4>Speciality</h4>
                            <p class="para1">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam
                                volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row about_box1">
                <div class="col-md-4">
                    <div class="box2">
                        <div class="box1_left">
                            <img src="images/about_img5.jpg" class="img-responsive" alt="" />
                            <div class="desc2">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart1"> </i>
                                    <i class="like"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4 class="right_text">Qualifications</h4>
                            <p class="right_text1">Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod
                                dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                            </p>
                            <h4 class="right_text">Speciality</h4>
                            <p class="right_text2">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam
                                volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box1">
                        <div class="box1_left">
                            <img src="images/about_img7.jpg" class="img-responsive" alt="" />
                            <div class="desc1">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="a_heart"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="a_twt"> </i>
                                    <i class="a_fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4>Qualifications</h4>
                            <p>Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat
                                nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
                            <h4>Speciality</h4>
                            <p class="para1">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam
                                volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box2">
                        <div class="box1_left">
                            <img src="images/about_img6.jpg" class="img-responsive" alt="" />
                            <div class="desc2">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart1"> </i>
                                    <i class="like"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4 class="right_text">Qualifications</h4>
                            <p class="right_text1">Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod
                                dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                            </p>
                            <h4 class="right_text">Speciality</h4>
                            <p class="right_text2">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam
                                volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="m_2">TIMETABLE</h3>
        <div class="table-container-big table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thrusday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Boxing</td>
                        <td>Boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Boxing</td>
                        <td>Boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boxing</td>
                        <td>Boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Boxing</td>
                        <td>Boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Boxing</td>
                        <td>Boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                        <td>boxing</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-container-small">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                style="display: block;color: white;">Monday</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <thead>
                                    <tr>
                                        <th>Timing</th>
                                        <th>Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                                style="display: block;color: white;">Tuesday</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <thead>
                                    <tr>
                                        <th>Timing</th>
                                        <th>Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                                style="display: block;color: white;">Wednesday</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <thead>
                                    <tr>
                                        <th>Timing</th>
                                        <th>Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                                style="display: block;color: white;">Thrusday</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <thead>
                                    <tr>
                                        <th>Timing</th>
                                        <th>Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"
                                style="display: block;color: white;">Friday</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <thead>
                                    <tr>
                                        <th>Timing</th>
                                        <th>Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"
                                style="display: block;color: white;">Saturday</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <thead>
                                    <tr>
                                        <th>Timing</th>
                                        <th>Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color:#00BFF0;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"
                                style="display: block;color: white;">Sunday</a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-small">
                                <thead>
                                    <tr>
                                        <th>Timing</th>
                                        <th>Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                    <tr>
                                        <td>09:00-10:00</td>
                                        <td>Boxing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>