<div class="main">
    <div class="container">
        <!-- start content-top -->
        <div class="row content-top">
            <div class="col-md-5">
                <img src="images/pic.png" class="img-responsive" alt="" />
            </div>
            <div class="col-md-7 content_left_text">
                <h3>Fitness is a lifestyle!</h3>
                <p>At our gym we make the process of being fit enjoyable and fun.</p>
            </div>
        </div>
    </div>
    <!-- end content-top -->
    <div class="container">
        <div class="row content-middle">
            <!-- start content-middle -->
            <div class="col-md-4"><a href="pricing.html">
                    <ul class="spinning">
                        <li class="live">live <span class="m_1">Spinning</span></li>
                        <li class="room">Room 2</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="view view-fifth">
                        <img src="images/pic3.jpg" class="img-responsive" alt="" />
                        <div class="mask">
                            <div class="info">Read More</div>
                        </div>
                    </div>
                </a></div>
            <div class="col-md-4"><a href="pricing.html">
                    <ul class="spinning">
                        <li class="live">live <span class="m_1">Gym</span></li>
                        <li class="room">Room 1</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="view view-fifth">
                        <img src="images/pic2.jpg" class="img-responsive" alt="" />
                        <div class="mask">
                            <div class="info">Read More</div>
                        </div>
                    </div>
                </a></div>
            <div class="col-md-4"><a href="pricing.html">
                    <ul class="spinning">
                        <li class="live">live <span class="m_1">Pilates</span></li>
                        <li class="room">Room 4</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="view view-fifth">
                        <img src="images/pic1.jpg" class="img-responsive" alt="" />
                        <div class="mask">
                            <div class="info">Read More</div>
                        </div>
                    </div>
                </a></div>
            <div class="clear"></div>
        </div>
        <!-- end content-middle -->
        <div class="row about">
            <div class="col-md-8">
                <h3 class="m_2">All Classes</h3>
                <div class="classes">
                    <div class="cardio_list">
                        <div class="cardio_sublist">
                            <ul class="cardio">
                                <li><i class="clock"> </i><span>Cardio Fitness</span></li>
                            </ul>
                            <div class="social-media">
                                <ul>
                                    <li> <span class="simptip-position-bottom simptip-movable"
                                            data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a
                                                href="#" target="_blank"> </a> </span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a
                                                href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a
                                                href="#" target="_blank"> </a></span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="cardio_sublist">
                            <ul class="cardio">
                                <li><i class="clock"> </i><span>Spinning</span></li>
                            </ul>
                            <div class="social-media">
                                <ul>
                                    <li> <span class="simptip-position-bottom simptip-movable"
                                            data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a
                                                href="#" target="_blank"> </a> </span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a
                                                href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a
                                                href="#" target="_blank"> </a></span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="cardio_sublist">
                            <ul class="cardio">
                                <li><i class="clock"> </i><span>Pilates</span></li>
                            </ul>
                            <div class="social-media">
                                <ul>
                                    <li> <span class="simptip-position-bottom simptip-movable"
                                            data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a
                                                href="#" target="_blank"> </a> </span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a
                                                href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a
                                                href="#" target="_blank"> </a></span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="cardio_sublist">
                            <ul class="cardio">
                                <li><i class="clock"> </i><span>Boxing</span></li>
                            </ul>
                            <div class="social-media">
                                <ul>
                                    <li> <span class="simptip-position-bottom simptip-movable"
                                            data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a
                                                href="#" target="_blank"> </a> </span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a
                                                href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a
                                                href="#" target="_blank"> </a></span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="cardio_list1">
                        <div class="cardio_sublist">
                            <ul class="cardio">
                                <li><i class="clock"> </i><span>Aerobics</span></li>
                            </ul>
                            <div class="social-media">
                                <ul>
                                    <li> <span class="simptip-position-bottom simptip-movable"
                                            data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a
                                                href="#" target="_blank"> </a> </span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a
                                                href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a
                                                href="#" target="_blank"> </a></span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="cardio_sublist">
                            <ul class="cardio">
                                <li><i class="clock"> </i><span>Kik Boxing</span></li>
                            </ul>
                            <div class="social-media">
                                <ul>
                                    <li> <span class="simptip-position-bottom simptip-movable"
                                            data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a
                                                href="#" target="_blank"> </a> </span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a
                                                href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a
                                                href="#" target="_blank"> </a></span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="cardio_sublist">
                            <ul class="cardio">
                                <li><i class="clock"> </i><span>CrossFit</span></li>
                            </ul>
                            <div class="social-media">
                                <ul>
                                    <li> <span class="simptip-position-bottom simptip-movable"
                                            data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a
                                                href="#" target="_blank"> </a> </span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a
                                                href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a
                                                href="#" target="_blank"> </a></span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="cardio_sublist">
                            <ul class="cardio">
                                <li><i class="clock"> </i><span>Yoga</span></li>
                            </ul>
                            <div class="social-media">
                                <ul>
                                    <li> <span class="simptip-position-bottom simptip-movable"
                                            data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a
                                                href="#" target="_blank"> </a> </span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a
                                                href="#" target="_blank"> </a></span></li>
                                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a
                                                href="#" target="_blank"> </a></span></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="m_4">Membership Prices</h3>
                <div class="members">
                    <h4 class="m_3">25% Discount of for all members</h4>
                    <p>Discount on services and <br>treatments at the GymBase for<br> all membership cards holders.
                    </p>
                    <div class="btn1">
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>