.register-top-grid input[type="password"]  , .register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.register-top-grid input[type="date"],.register-top-grid input[type="email"]{
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.register-top-grid select{
	border: 1px solid #EEE;
	outline-color:#00BFF0;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.register-grids form button{
	background:#E25050;
	color: #FFF;
	font-size: 0.8em;
	padding:0.8em 2.2em;
	border:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
}