<div class="main">
  <div class="register-grids">
    <div class="container">
      <form (ngSubmit)="resetPassword()">
        <div class="register-top-grid">
          <h3>PASSWORD RESET</h3>
          <div>
            <span>EMAIL ADDRESS<label>*</label></span>
            <input type="email" name="email" [(ngModel)]="customer.email">
          </div>
          <div>
            <span>DATE OF BIRTH<label>*</label></span>
            <input type="date" name="dob" [(ngModel)]="customer.dob">
          </div>
          <div>
            <span>OTP<label>*</label></span>
            <input type="text" [(ngModel)]="typedOTP" name="otp">
          </div>
          <div>
            <span>&nbsp;<label>&nbsp;</label></span>
            <button type="button" (click)="sendOTP()">SEND OTP</button><!-- &nbsp;&nbsp;
            <button type="button" (click)="verifyOTP()">VERIFY OTP</button> -->
          </div>

        </div>
        <div class="clear"> </div>
        <div class="register-bottom-grid">
          <h3>SET PASSWORD</h3>
          <div>
            <span>Password<label>*</label></span>
            <input type="password" name="password" [(ngModel)]="customer.password">
          </div>
          <div>
            <span>Confirm Password<label>*</label></span>
            <input type="password" name="cpassword">
          </div>
          <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <input type="submit" value="CHANGE PASSWORD">
      </form>
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>